{% extends 'users/base.html' %}
{% load static %}
{% include 'users/javascript.html' %}
<!-- Titulo da página -->
{% block titulo %}Registro de usuário{% endblock %}
<!-- Conteúdo da página -->
{% block conteudo %}
<div class="form-text-lg text-white m-0 pb-5">
	<h2 class="text-white text-center p-5">Cadastro de novos usuários</h2>
	<p class="text-center fst-italic">Necessário para adicionar jogos e estatísticas</p>
	<form method="POST">
	    {% csrf_token %}
	    <table>
	        {{ formulario.as_table }}
	    </table>
	    <input type="submit" value="Confirmar registro">
	</form>
</div>
{% endblock %}