<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta title="{% block titulo %}{% endblock %}">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h3>Registrar um novo jogo</h3>
        <a href="/">Página Inicial</a>
        {% if user.is_authenticated %}
            |<a href="{% url 'sec-logout' %}">Logout</a>
            |<a href="{% url 'sec-passwordChange' %}">Trocar senha</a>
        {% else %}
            |<a href="{% url 'sec-registro' %}">Novo usuário?</a>
            |<a href="{% url 'sec-login' %}">Login</a>
            {% endif %}
        | Você é {% firstof user.username "visitante" %}
        <hr>
        {% block conteudo %}{% endblock %}
    </body>
</html>