{% extends 'games/base.html' %}
{% load static %}
{% block content %}
    <h2>Remoção de Game da Lista</h2>
    </br></br>
    <h3>Confirma a remoção de {{ game.title }}?</h3>
    </br></br></br> 
    <form method="POST">
         {% csrf_token %} 
        <button class="btn btn-secondary"> 
            <a href="{% url 'lista-games' %}"  
               style="text-decoration: none; color: black;">Cancelar</a> 
        </button> 
        <input class="btn btn-primary" type="submit" value="Remover"> 
    </form>
{% endblock %}
