<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta title="{% block titulo %}{% endblock %}">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'games/css/styles.css' %}" rel="stylesheet" />
       	<!-- jQuery -->
        <script type="text/javascript" src="{% static 'games/js/script.js' %}"></script>
       
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}
        <header class="call-to-action">
            <section class="position-relative features-icons text-align-left">           
            {% block conteudo %}{% endblock %}
            </section>
        </header>
        {% endblock %}
         {% include 'footer.html' %}
    </body>
</html>