{% load static %} 
<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head> 
<body> 
    <h3>Sua Lista Pessoal de Jogos</h3> 
    <table> 
        <tr><th>Título</th><th>Desenvolvedor</th><th>Publicadora</th><th>Ações</th></tr> 
        {% for pessoa in pessoas %} 
            <tr> 
                <td>{{ game.title }}</td><td>{{game.developer }}</td><td>{{ game.publisher }}</td> 
                <!-- <td><a href="{% url 'games:atualiza-jogo' pk=game.id %}">Atualizar</a> |  
                    <a href="{% url 'games:apaga-jogo' pk=game.id %}">Excluir</a></td> 
                    -->
           </tr> 
        {% empty %} 
            <tr><th colspan="5">Ainda não há jogos registrados</th></tr> 
        {% endfor %} 
    </table> 
</body> 
</html>