{% extends 'users/base.html' %} 
{% block title %}Registro de Usuário{% endblock %} 
{% block conteudo %} 
<h2>Complete os seus dados</h2> 
<form method="post" id="formBio"> 
{% csrf_token %} 
<table class="form">
 {% csrf_token %} 

{{ bioForm.as_table }}

<tr>
<td></td> 
<td>
<div class="text-end" id='idCaracteres'>150 / 150</div> 
<input type="submit" class="btn btn-primary" value="OK">
<input href="{% url 'sec-paginaProfile' %}" type="submit" class="btn btn-secondary" name="voltar" value="Voltar">
</td> 
</tr> 
</table> 
</form> 
{% endblock%}