{% extends 'users/base.html' %}
{% load static %}
<!-- Titulo da página -->
{% block titulo %}Registro de usuário{% endblock %}
<!-- Conteúdo da página -->
{% block conteudo %}
<div class="form-text-lg text-white m-0 pb-5">
	<h2 class="text-white text-center p-5">Cadastro de novos usuários</h2>
	<p class="text-center fst-italic">Necessário para adicionar jogos e estatísticas</p>
	<div class="text-center" id="idMsgErro">&nbsp;</div>
	<fieldset id="id_fieldset">
	<form method="POST" class="form-control bg-dark text-light">
	    {% csrf_token %}
	    <table>
	        {{ formulario.as_table }}
	    </table>
	    <input class="btn btn-primary ms-5 mt-4" type="submit" value="Confirmar registro">
	</form>
	</fieldset>
</div>
{% endblock %}